<div class="parent-container" >

        <div class="container ">
            <div class="row justify-content-end my-5 ">
                    <form class="d-flex col-6">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-warning" type="submit">Search</button>
                    </form>

            </div>
        </div>

        <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4 " >

            <div class="col"  *ngFor="let organ of organs">
                <div class="card d-flex h-100">
                    <div class="row g-0">
                        <div class="col-6">
                            <img src="{{ this.url + organ.image }}" class="card-img-top w-100" alt="...">
                        </div>
                        <div class="col-6">
                            <div class="card-body">
                                <h5 class="card-title ">{{ organ.name }}</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-primary me-2 " data-bs-toggle="modal" data-bs-target="#organ3d" (click)="setSelectedOrgan(organ.id)">View in 3D</button>
                                <button class="btn btn-success me-2"> Edit </button>
                                <button class="btn btn-danger me-2" (click)="deleteOrgan(this.organ.id)"> Delete </button>



                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="organ3d" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " style="height: 75vh;" role="document">
        <div class="modal-content  " >
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLongTitle">View the {{this.selectedRow?.name}} in 3D </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

                </button>
            </div>
            <div   class="modal-body text-center  " style="  background: linear-gradient(to bottom, #cccccc, #130d0d);">
              <model-viewer *ngIf="!isLoading" [src]="modelBlobURL"  style="height: 75vh;" class="w-100" shadow-intensity="2" camera-controls touch-action="pan-y"></model-viewer>

                <div  *ngIf="isLoading" class="spinner-border text-warning" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>

        </div>
    </div>
</div>

</div>
