
<div class="p-2  my-4 d-flex h-75  rounded-5 admin  align-self-center   col-8  gap-3 offset-2  " >

    <div class=" d-flex col-5 ">
        <img alt="" src="../../../../assets/images/a.png" class="w-100 rounded-5  h-100 img-fluid"/>
    </div>
    <div class="p-2  d-flex flex-column align-items-center justify-content-center text-center">
        <h2 class="display-6 fw-bold">Explore the fascinating world of human anatomy in 3D.</h2>
        <br/>
        <p class="lead text-primary-emphasis fw-medium fs-5">As an admin, you can manage the 3D Human Body Anatomy Experience by adding new organs </p>
        <br/>
        <p class="lead  text-primary-emphasis fw-medium">Use the admin tools to enrich the educational content.</p>

    </div>

</div>
