<div class="container-fluid w-100 h-100 background-radial-gradient overflow-scroll">
  <!-- Section: Design Block -->
  <section id="login">
    <div class="container-fluid  background-radial-gradient overflow-hidden overflow-hidden w-100 h-100 px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0 text-center" style="z-index: 10">
            <h1 class="my-5 display-5 fw-bold ls-tight" >
              <span style="color: hsl(218, 81%, 75%)">3D Human Body Visualization website</span>

            </h1>
          <p class="mb-4 opacity-70 display-6 fw-light" style="color: hsl(218, 81%, 85%)">
            Uncover the secrets of human anatomy with our cutting-edge 3D visualization platform.
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form [formGroup]="loginForm" (ngSubmit)="login()" class="d-flex flex-column">
                <span class="text-danger">{{errorMsg}}</span>
                <h1 class="my-5 display-6 fw-bold ls-tight align-self-center" >
                  <span style="color: hsl(218, 81%, 75%)">Login</span>
                </h1>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3">Email address</label>
                  <input type="email" id="form3Example3" formControlName="email" class="form-control" />
                  <small *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].touched" class="text-danger">
                    {{getErrorMsg('Email',loginForm.controls['email'].errors)}}
                  </small>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4">Password</label>
                  <input type="password" id="form3Example4" formControlName="password" class="form-control" />
                  <small *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].touched" class="text-danger">
                    {{getErrorMsg('Password',loginForm.controls['password'].errors)}}
                  </small>

                </div>

                <!-- Submit button -->
                <button type="submit"  class="btn btn-primary btn-block mb-4 w-25 align-self-center ">
                  Sign In
                </button>


              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>
